
<div class="container">
          
   
	<form ng-submit="aM1Ctrl.mySubmitFunction()">
    <input type="text" ng-model="aM1Ctrl.aQuery" id="queryT">
    <input type="submit" value="Search">
	</form>
    <br>
    <span ng-hide="aM1Ctrl.hidden" style="background-color:yellow">{{aM1Ctrl.message}}</span>
    
    <br>
    <span ng-hide="aM1Ctrl.minWarning" style="background-color:pink">Less than 1 min elapsed</span>
    <br>
    
    <table>
    <tr>
    <td>Name</td>
    <td>Forks</td>
    <td>Stars</td>
    <td>Action</td>
  </tr>
  <tr ng-repeat="x in aM1Ctrl.details" ng-class="x && x.imported ? 'imported' : 'notImported'">
    <td>{{ x.name }}</td>
    <td>{{ x.forks_count}}</td>
    <td>{{ x.stargazers_count}}</td>
    <td><button ng-click="aM1Ctrl.importFunction($index)">Import</button></td>
  </tr>
</table>
	<!-- <div class="row" ng-repeat="row in aM1Ctrl.details"
		ng-class="row.status" ng-click="aM1Ctrl.clickMethod($event)" id="{{$index}}_row">
	</div> -->
	<br><br>
	<button ng-click="aM1Ctrl.navigateToTopresultsPage()">Top Pages</button>
</div>

  